<footer class="page-footer red darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Some</h5>
                <p class="grey-text text-lighten-4">Some ist ein junger Sozialer Messenger, der Seinesgleichen sucht.</p>
            </div>
            <div class="col l5 offset-l1 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="about.html">Über Some</a></li>
                    <li><a class="grey-text text-lighten-3" href="contact.html">Kontaktieren Sie die Entwickler</a></li>
                    <li><a class="grey-text text-lighten-3" href="patreon.html">Die Unterstützer</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright Some
            <a class="grey-text text-lighten-4 right" href="imprint.hmtl">Impressum</a>
        </div>
    </div>
</footer>