<div id="test-swipe-2" class="col s12 flow-text">

                                  <h1 style="font-family:dark; color:black; text-align:center;">Riding the Formation</h1>
                                    <br>
                                    <br>
                                    Until may 2016 three musicians were going their own, quiet ways. Thanks to an apocalyptic coincidence Kevin, Stefan - Bam Bam, and Balu ran into each other.  Soon they realised, with a little help from one beer or another, that they were on the same wavelength. The best thing about their situation turned out to be that every one of them pretended to play  different instruments. <br>
                                    <br>
                                        <table class="responsive-table centered">
                                            <thead>
                                                <tr>
                                                    <th data-field="id">Balu</th>
                                                    <th data-field="name">Kevin</th>
                                                    <th data-field="price">Bam Bam</th>
                                                    <th data-field="price">Dick R.</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>Bass</td>
                                                    <td>Guitar</td>
                                                    <td>Drums</td>
                                                    <td>Guitar</td>
                                                </tr>
                                                <tr>
                                                    <td>Vocals</td>
                                                    <td>Vocals</td>
                                                    <td></td>
                                                    <td>Bass</td>
                                                </tr>
                                                <tr>
                                                    <td>Guitar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                        <br>
                        That was, besides the drinking beer part, a good condition for the creation of a band. <br>
                        After laying down some key figures, defining the basis information (which beer to buy for the rehearsals and above all, how much) the project "riding the madness" could start. So, on the 4th of June 2016 the three of them set out to make the world a better place - drink more beer! <br>
                        They work hard on an entertaining program, a mixture of their own original songs  and Cover songs. You can be curious and exited- and of course thirsty! <br>
                        <br>
                                    Keep on Rocking - greetings from <b>RTM</b>
                      </div>