<nav class="red darken-3 z-depth-2">
    <div class="nav-wrapper">
        <a class="brand-logo left hide-on-med-and-down" href="index.html">Some - DER Soziale Messenger</a>
        <a class="brand-logo center hide-on-large-only" href="index.html">Some - DER Soziale Messenger</a>
        <form class="hide-on-med-and-down">
            <ul class="right hide-on-small-only">
                <li>
                    <a href="#registration" class="waves-effect waves-light btn red darken-1">
                        Registrieren
                        <i class="material-icons right">weekend</i>
                    </a>
                </li>
                <li>
                    <a href="#login" class="waves-effect waves-light btn red darken-1">
                        Log-In
                        <i class="material-icons right">vpn_key</i>
                    </a>
                </li>
            </ul>
        </form>
    </div>
</nav>