<div id="test-swipe-1" class="col s12 flow-text">

                        <h1 style="font-family:dark; color:black; text-align:center;">Riding the Formation</h1>
                        <br>
                        <br>
                        Bis Mai 2016 gingen drei Musiker eigene, ruhige Wege. Durch einen apokalyptischen Zufall liefen sich Kevin, Stefan (Bam Bam) und Balu über den Weg.<br>
                        Schnell stellte sich, mit dem einen oder anderen Bier, heraus, dass man doch auf einer Wellenlänge unterwegs war.<br>
                        Als Bestes an der Situation stellte sich dann heraus, dass jeder vorgab, ein anderes Instrument spielen zu können.<br>
                        <br>
                            <table class="responsive-table centered">
                                <thead>
                                    <tr>
                                        <th data-field="id">Balu</th>
                                        <th data-field="name">Kevin</th>
                                        <th data-field="price">Bam Bam</th>
                                        <th data-field="price">Dick R.</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Bass</td>
                                        <td>Gitarre</td>
                                        <td>Schlagzeug</td>
                                        <td>Gitarre</td>
                                    </tr>
                                    <tr>
                                        <td>Gesang</td>
                                        <td>Gesang</td>
                                        <td></td>
                                        <td>Bass</td>
                                    </tr>
                                    <tr>
                                        <td>Gitarre</td>
                                    </tr>
                                </tbody>
                            </table>
                        <br>
                        Dies war neben dem Biertrinken eine super Vorrausetzung für die Entstehung einer Band.<br>
                        Nachdem noch die Eckdaten festgelegt worden sind, (welches Bier man für die Proben besorgen musste und vor allem, wie viel) konnte das Projekt <b><i>„Riding the Madness"</i></b> starten.<br>
                        So ist es nun, dass drei sich, seit dem 04. Juni 2016, aufmachten, die Welt zum Besseren zu bekehren – Drink more Beer!<br>
                        Es wird hart an einem abendfüllenden Programm, eine Mischung aus eigenen Liedern und Coversongs, gearbeitet.<br>
                        Ihr dürft neugierig und gespannt sein – und natürlich durstig!<br>
                        <br>
                        Keep on Rockin' - greetings from <b>RTM</b><br>

                      </div>