<div class="modal" id="login">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input type="text" id="email_login" name="email_login">
                    <label for="email_login">Deine Email</label>
                </div>
                <div class="col s12 m6 input-field">
                    <input type="password" id="pass_login" name="pass_login">
                    <label for="pass_login">Dein Passwort</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light col s12 m6" type="submit" name="action">
                    Einloggen
                    <i class="material-icons right">send</i>
                </button>
                <div class="col s12 m6">
                    <a href="support/pass_reset.php">Passwort vergessen</a>
                </div>
            </div>
        </form>
    </div>
</div>