<nav>
    <div class="nav-wrapper">
        <form>
            <ul class="center hide-on-small-only">
                <li>
                    <div class="input-field">
                        <input placeholder="Deine Email" type="email" id="email" name="email" class="validate">
                    </div>
                </li>
                <li>
                    <div class="input-field">
                        <input placeholder="Passwort" type="password" id="password" name="password" class="validate">
                    </div>
                </li>
                <li>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Einloggen
                        <i class="material-icons right">send</i>
                    </button>
                </li>
            </ul>
        </form>
    </div>
</nav>