<div class="section white darken-2">
    <div class="row container">
        <h2 class="header">Warum Some?</h2>
        <p class="grey-text text-darken-3">Die Frage, die sich vermutlich jeder neue Besucher dieser Seite fragen wird ist: Warum sollte ich Some nutzen? Es gibt doch so viele Alternativen.</p>
        <p class="grey-text text-darken-3">Das ist ganz einfach zu beantworten!</p>
        <p class="grey-text text-darken-3">Some verbindet das Beste aus Whatsapp, Facebook, Twitter und Instagram. Bleibt dabei leicht und übersichtlich und verliert nicht den Fokus auf`s Messaging.</p>
    </div>
</div>