<div class="section white darken-2" id="section01">
    <div class="row container">
        <h2 class="header">Want Some Chat?</h2>
        <p class="grey-text text-darken-3">Some ist ein Sozialer Messenger. Warum Sozialer Messenger? Das heißt doch normalerweise Soziales Netzwerk... </p>
        <p class="gray-text text-darken-3">Ja! Das ist absolut richtig, aber der Begriff Soziales Netzwerk ist, wie wir finden mit zu vielen Störfaktoren verbunden. Sei es eine mit gesponsorten Beiträgen zugemüllte Startseite oder die tausendste Anfage zu Farmville.</p>
        <p class="gray-text text-darken-3">Der Soziale Messenger legt deshalb den Schwerpunkt auf die Kommunikation! Deswegen startet nun mit vielen innovativen Ideen Some.</p>
    </div>
</div>