<div class="section container">
    <h2>Die Unterstützer</h2>
    <p>Wenn du uns bei Patreon unterstützt, wirst du, wenn du das möchtest, hier aufgelistet.<br />
        Wir möchten uns hier für eure Unterstützung bedanken - ohne euch wäre das Projekt vermutlich gar nicht möglich.</p>
    <p>Also. Wir sind ca. drei Studenten und Azubis, welche, wer hätte es erwartet, nicht viel Geld haben. Schön und gut, aber...
    <h3>Wofür brauchen wir überhaupt Geld?</h3>
    <p>Du kannst dir sicher sein, dass das Geld nicht ausschließlich in Marketing, feuchtfröhliche Teamabende, Mate und Desserts gesteckt wird. Aber wofür könnte man es bitteschön sonst gebrauchen? Hier eine kleine Übersicht der wichtigsten Aspekte:</p>
    <h4>Software</h4>
    <p>Allein der Editor und Paint, was ja alles auf unseren PCs vorinstalliert ist, reichen uns eben einfach nicht aus. Wir wollen euch schließlich Qualität liefern. Die Software, die uns bei der Entwicklung von <b>Some</b> unter die Arme greift, kostet nunmal auch den ein oder anderen Euro. Als Beispiele wären da Photoshop (für eure zukünftigen Profilbilder natürlich..), Phpstorm als Web-Editor, Word und so weiter zu nennen.</p>
    <h4>Hardware</h4>
    <p>Wenn wir genügend Geld haben, werden wir tatsächlich auch für &bdquo;echte Sachen&ldquo; einiges ausgeben, um euch zB. auf größeren Servern zur Verfügung zu stehen und useren Mitarbeitern schnelleres Programmieren zu ermöglichen.</p>
    <h4>Weiteres</h4>
    <p>Wie, es gibt noch was anderes als Hard- und Software? Geht es etwa um Vorgänge in der Realität, außerhalb des Computers?
        <br />
    <p>Auch! Natürlich fallen Stromkosten, Domaingebühren, Steuern und vieles weitere an. Und da unsere Mitarbeiter teilweise einen Vollzeitjob liefern, wollen die natürlich auch nicht leer ausgehen.
    <p>Jetzt solltet ihr einen kleinen Überlick haben, was mit eurem Geld bei uns passiert. Wenn dennoch Fragen offen bleiben sollten, könnt ihr euch einfach bei uns melden, wir haben gerne Kontakt mit unseren Nutzern und Spendern!</p>
</div>