<div class="section container">
    <h2>Die Unterstützer</h2>
    <p>
        Wenn Du uns bei Patreon unterstützt wirst du, wenn du das möchtest hier aufgelistet. <br>
        Wir möchten uns hier für eure Unterstützung bedanken, ohne euch wäre das Projekt vermutlich gar nicht möglich.
    </p>
    <h4>Aber wofür brauchen wir denn Geld?</h4>
    <p>
        Wir bei Some sind ein kleines Team von 3 Leuten, zum Teil studierend, zum Teil in einer Ausbildung, dadurch verdienen wir nicht all zu viel und können uns von daher nicht unbedingt alle notwendigen Programme oder Harwaregegenstände leisten. Zudem kommen noch
    </p>
</div>