#registration {
  .collapsible {
    margin: 0;

    .collapsible-header {
      text-align: center;
    }

    .collapsible-body {
      padding-bottom: 0;
    }

  }
}
#registration.section {
  padding: 0;
}